@import "../../Variables.scss";

.Button {
    position: relative;
    width: 100%;
    height: 100%;

    .contentBtn {
        position: relative;
        padding: 1vw;
        background: rgb(240, 122, 122);
        cursor: pointer;
        border: 0.25vw solid $BorderColor;
        border-radius: 2vw;
        font-size: 1.5vw;
        color: #fff;
    }
}