.Template {
    position: relative;
    width: 100%;
    border: 1px solid #000;
    // display: flex;

    .funny {
        height: 50vw;
        background: #C39ADE;
    }

    .joking {
        height: 50vw;
        background: #99E7D9;
    }

    .veryGood {
        height: 30vw;
        background: #F38ED6;
    }

    .amazing {
        height: 40vw;
        background: rgb(250, 169, 88);
    }

    .awesome {
        height: 40vw;
        background: rgb(75, 182, 250);
    }
}