@import './Variables.scss';

body {
    margin: 0;
    font-family: $Font;
    font-size: 1.2em;
    box-sizing: border-box;
}

.App {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // .sliderBx {
    //     width: 60vw;
    // }

    .imageQuestionBx {
        position: relative;
        width: 90vw;
        height: 90%;
        // border: 1px solid #000;
    }

    .VideoLectureBx {
        position: relative;
        height: 30vw;
    }
}